---
---

header.home {
  position: relative;
  background: url(../img/home-header.png) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 187px;
  text-align: center;

  h1 {
    font-weight: 100;
    font-size: 46px;
    margin: 0;
    padding: 0;
    color: #fff;
    max-width: 100%;
    position: absolute;
    padding: 5px 15px;
    background-color: #6d6d6d;
    margin-top: -35px;
    margin-left: -165px;
    top: 50%;
    left: 50%;
  }

  img {
    width: 100%;
    min-height: 100px;
  }
}

.getting-started {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  height: 250px;
  width: 846px;
}

.step {
  float: left;
  background-color: #fafafa;
  width: 180px;
  height: 250px;
  margin: 15px 10px;

  .stepNumber {
    text-align: center;
    height: 50px;
    background-color: #f3f3f3;
    font-size: 18px;
    line-height: 50px;
  }
  
  a.action {
    .stepPic {
      height: 96px;
      width: 96px;
      background-position: 0 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
      margin-bottom: 20px;
    }
    
    display: block;
    width: 100%;
    color: #555555;
    font-weight: 700;
    line-height: 1.5;
    &:hover {
      color: #555;
      .stepPic {
        background-position: 0 96px;
      }
    }
  }
  
  .stepPic {
    &.model {
      background-image: url(../img/pic_model.png);
    }
    &.prototype {
      background-image: url(../img/pic_prototype.png);
    }
    &.webApp {
      background-image: url(../img/pic_webApp.png);
    }
    &.mobileApp {
      background-image: url(../img/pic_mobileApp.png);
    }
  }
}

section .blocks {
  float: left;
  width: 420px;
}

@media print, screen and(max-width: 1060px) {
  section {
    .getting-started {
      margin-top:5px;
      width: 360px;
    }
    .step {
      width: 160px;
    }
  }

  .home {
    display: none;
  }
}
