---
---

@import url(themes/minimal/theme.css);
@import url(layout.css);
@import url(themes/minimal/overrides.css);
@import url(button.css);
@import url(home.css);

html {
  min-height: 100%;
}

.clear-all {
  clear: both;
}

img.inline {
  margin-bottom: -8px;
}

nav {
  background: #fafafa;
  border-right: 1px solid #efefef;

  .fa {
    font-size: 14px;
    color: #2B404A;
  }
}

@media print, screen and(max-width: 650px) {
  section {
    border: none;
  }
  
  nav {
    border: none;
  }
}