---
---

@import url(themes/{{ site.theme }}/theme.css);
@import url(layout.css);
@import url(themes/{{ site.theme }}/overrides.css);
@import url(button.css);
@import url(home.css);

html {
  min-height: 100%;
}

.clear-all {
  clear: both;
}

img.inline {
  margin-bottom: -8px;
}

nav {
  background: #fff;
  border-right: 1px solid #dddddd;

  .fa {
    font-size: 14px;
    color: #2B404A;
  }
  
  h1 {
    background-color:#fafafa;
    border-bottom:1px solid #ddd;
    margin:0 0 30px 0;
    padding: 30px 10px 30px 26px;
    color:#323232;
  }

  h2 {
    color:#555;
  }

  li a {
    color:#14a1c8;
    line-height:28px;
  }
}

@media print, screen and(max-width: 650px) {
  section {
    border: none;
  }
  
  nav {
    border: none;
  }
}