<header class="home">
  <img src="img/home-header.png" />
  <h1>Getting Started</h1>
</header>

<div class="getting-started">
  <a class="action" href="design-data-model.html">
    <img src="img/icon-model.png" />
    Design your data model
  </a>
  <a class="action" href="prototype.html">
    <img src="img/icon-prototyper.png" />
    Prototype your app
  </a>
  <a class="action" href="create-web-app.html">
    <img src="img/icon-web.png" />
    Create a web app
  </a>
  <a class="action" href="create-mobile-app.html">
    <img src="img/icon-mobile.png" />
    Create a mobile app
  </a>
  <div class="clear-all" />
</div>


