<header class="home">
  <h1>Getting started</h1>
  <img src="/img/withWakAppFac.png" width="370" height="101">
</header>

<div class="flex-container">
  <div class="flex-item">
    <div class="stepNumber">1</div>
    <a class="action" href="design-data-model.html">
      <div class="stepPic model"></div>
      DESIGN YOUR<br>DATA MODEL
    </a>
  </div>
  <div class="flex-item">
    <div class="stepNumber">2</div>
      <a class="action" href="prototype.html">
        <div class="stepPic prototype"></div>
        PROTOTYPE<br>YOUR APP
      </a>
  </div>
  <div class="flex-item">
    <div class="stepNumber">3</div>
      <a class="action" href="create-web-app.html">
        <div class="stepPic webApp"></div>
        CREATE<br>A WEB APP
      </a>
  </div>
  <div class="flex-item">
    <div class="stepNumber">4</div>
      <a class="action" href="create-mobile-app.html">
        <div class="stepPic mobileApp"></div>
        CREATE<br>A MOBILE APP
      </a>
  </div>
</div>