<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
        {% include analytics.html %}
    </head>
    <body>
        <div class="wrapper">
            <nav>
                <div class="scroll">
                    {% include nav.html %}
                </div>
            </nav>
            <section>
                {{ content }}
            </section>
            <footer class="clear-all">
                {% include footer.html %}
            </footer>
        </div>
    </body>
</html>
